<a href="https://colab.research.google.com/github/alvas-education-foundation/mamatha_m/blob/master/pythonic_day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
result_list = ['True', 'False', 'File not found']
result_string = ''
for result in result_list:
  result_string += result
result_string

'TrueFalseFile not found'

In [ ]:
result_list = ['True', 'False', 'File not found']
result_string = ''.join(result_list)
result_string

'TrueFalseFile not found'

In [ ]:
book_info = ' The Three Musketeers: Alexandre Dumas'
formatted_book_info = book_info.strip().upper().replace(':', ' by')
formatted_book_info

'THE THREE MUSKETEERS by ALEXANDRE DUMAS'

In [ ]:
ints_list = [1, 2, 3, 4, 3, 2]
temp = []
for x in ints_list:
    if x not in temp:
        temp.append(x)
ints_list = temp
print(f'Updated List after removing duplicates = {temp}')

Updated List after removing duplicates = [1, 2, 3, 4]

In [ ]:
def square(x):
    return x*x
numbers=[1, 2, 3, 4, 5]
sqrList=map(square, numbers)
print(list(sqrList))

[1, 4, 9, 16, 25]

In [ ]:
def change(string):
      return string[-1] + string[1:-1] + string[0]
string=input("Enter string:")
print("Modified string:",change(string))
print('original string :',string)

Enter string:bhoomija
Modified string: ahoomijb
original string : bhoomija

In [ ]:
def myFunc(e):
  return len(e)
#myfunc=lambda x : len(x)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=myFunc)
print(cars)
cars.sort(key=myFunc,reverse=True)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']
['Mitsubishi', 'Ford', 'BMW', 'VW']

In [ ]:
from itertools import combinations 
  
letters ="SADIK"
  
# size of combination is set to 3 
a = combinations(letters, 3)  
y = [' '.join(i) for i in a]  
print(y)

['S A D', 'S A I', 'S A K', 'S D I', 'S D K', 'S I K', 'A D I', 'A D K', 'A I K', 'D I K']

In [ ]:
from itertools import permutations 
  
letters ="SADIK"
  
# size of permutaion is set to 3 
a = permutations(letters, 3)  
y = [' '.join(i) for i in a]  
print(y)

['S A D', 'S A I', 'S A K', 'S D A', 'S D I', 'S D K', 'S I A', 'S I D', 'S I K', 'S K A', 'S K D', 'S K I', 'A S D', 'A S I', 'A S K', 'A D S', 'A D I', 'A D K', 'A I S', 'A I D', 'A I K', 'A K S', 'A K D', 'A K I', 'D S A', 'D S I', 'D S K', 'D A S', 'D A I', 'D A K', 'D I S', 'D I A', 'D I K', 'D K S', 'D K A', 'D K I', 'I S A', 'I S D', 'I S K', 'I A S', 'I A D', 'I A K', 'I D S', 'I D A', 'I D K', 'I K S', 'I K A', 'I K D', 'K S A', 'K S D', 'K S I', 'K A S', 'K A D', 'K A I', 'K D S', 'K D A', 'K D I', 'K I S', 'K I A', 'K I D']

In [ ]:
# import the itertool module  
# to work with it 
import itertools 
  
# import operator to work  
# with operator 
import operator 
  
# creating a list GFG 
GFG = [1, 2, 3, 4, 5] 
  
# using the itertools.accumulate()  
result = itertools.accumulate(GFG,  
                              operator.mul) 
  
# printing each item from list 
for each in result: 
    print(each) 
Swaping by ^(Exclusive or)

In [ ]:
a=5
b=4
a=a^b
b=a^b
a=a^b
print(a)
print(b)

4
5

In [ ]:
# Python3 program to find compound 
# interest for given values. 
  
def compound_interest(principle, rate, time): 
  
    # Calculates compound interest  
    Amount = principle * (pow((1 + rate / 100), time)) 
    CI = Amount - principle 
    print("Compound interest is", CI) 
  
# Driver Code  
compound_interest(10000, 10.25, 5) 
  
# This code is contributed by Abhishek Agrawal.

Compound interest is 6288.946267774416

In [ ]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 37
37.00 Celsius is: 98.60 Fahrenheit

In [ ]:
# Python program to find the greatest of two numbers using the built-in function
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print(max(num1, num2), "is greater")

Enter the first number: 10
Enter the second number: 8
10 is greater

In [ ]:
''' Python3 program to calculate Volume and  
    Surface area of Cone'''
  
# Importing Math library for value Of PI 
import math 
pi = math.pi 
  
# Function to calculate Volume of Cone 
def volume(r, h): 
    return (1 / 3) * pi * r * r * h 
  
# Function To Calculate Surface Area of Cone 
def surfacearea(r, s): 
    return pi * r * s + pi * r * r 
  
# Driver Code 
radius = float(5) 
height = float(12) 
slat_height = float(13) 
print( "Volume Of Cone : ", volume(radius, height) ) 
print( "Surface Area Of Cone : ", surfacearea(radius, slat_height) )

Volume Of Cone :  314.15926535897927
Surface Area Of Cone :  282.7433388230814

In [ ]:
# Python program to find maximum of 4 numbers  
# without using conditional and bitwise  
# operators.  
def maxOfFour(w, x, y, z): 
    a = [0] * 2
    a[0] = w 
    a[1] = x  
      
    # b is 0 if w is less than or equal  
    # to x, else it is non-zero.  
    b = bool(a[0] - a[1] + abs(a[0] - a[1])) 
    if b:  
        b = 1
    else:  
        b = 0
  
    # After below operation, a[0] is maximum  
    # of w and x.  
    a[0], a[1 - b] = a[1 - b], a[0] 
      
    # After below three steps, a[0] is maximum  
    # of w, x and y.  
    a[1] = y  
    b = bool(a[0] - a[1] + abs(a[0] - a[1]))  
    if b:  
        b = 1
    else:  
        b = 0
    a[0], a[1 - b] = a[1 - b], a[0] 
      
    # After below three steps, a[0] is maximum  
    # of w, x, y and z.  
    a[1] = z  
    b = bool(a[0] - a[1] + abs(a[0] - a[1])) 
    if b:  
        b = 1
    else:  
        b = 0
    a[0], a[1 - b] = a[1 - b], a[0] 
      
    return a[0]  
  
# Driver code  
w =77
x = 88
y =99
z = 100

print("Maximum of four : ", maxOfFour(w, x, y, z))

Maximum of four :  100

In [ ]:
# Python Program to find Area Of Circle using Radius

PI = 3.14
radius = float(input(' Please Enter the radius of a circle: '))
area = PI * radius * radius
circumference = 2 * PI * radius

print(" Area Of a Circle = %.2f" %area)
print(" Circumference Of a Circle = %.2f" %circumference)

 Please Enter the radius of a circle: 3
 Area Of a Circle = 28.26
 Circumference Of a Circle = 18.84

In [ ]:
x=[1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
	result.append(x[idx] * 2)
print(result)

[2, 4, 6, 8, 10, 12]

In [ ]:
x=[1, 2, 3, 4, 5, 6]
print([(element * 2) for element in x])

[2, 4, 6, 8, 10, 12]

In [ ]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[(element * 2 if element % 2 == 0 else element) for element in x]

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

In [ ]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[element * 2 for element in x if element % 2 == 0]

[4, 8, 12, 16, 20]

In [ ]:
def db(x):
    return x * 2

In [ ]:
# Python code to demonstrate the working of 
# variance() function of Statistics Module 
  
# Importing Statistics module 
import statistics 
  
# Creating a sample of data 
sample = [2.74, 1.23, 2.63, 2.22, 3, 1.98] 
  
# Prints variance of the sample set 
  
# Function will automatically calculate 
# it's mean and set it as xbar 
print("Variance of sample set is % s" 
      %(statistics.variance(sample)))

Variance of sample set is 0.40924